# VS Code editor metadata
.vscode/

# Compiled executables
bin/

# === Recommended Lisp / SBCL ===

# Compiled Common Lisp "fast-load" files (binaries)
*.fasl

# Emacs/Slime backup and lock files
*~
.#*

# Any local executable
*.exe
!tools/*.exe
tools/

# ASDF system index
system-index.txt

# Scratch
docs/convo.md

# Mkdocs
site/

# Coverage Report
coverage-report/

# External Benchmark Dependencies (Header-only libraries)
third_party/
